body{
    background-color: #ffffff;
    font-family: Georgia serif;
    padding: 15px;
}
.formBuilder{
    min-width:480px;
    max-width:1600px;
}

.container{

    padding: 25px;
    background-color: #effffc;
    border-radius: 15px;
    font-family: 'Caveat', cursive;
    font-family: 'Ms Madi', cursive;
    font-family: 'Oswald', sans-serif;
    width: 350px;
    display: flex; 
    border: 3px solid black;
    margin-bottom: 10px;

}
p {
    margin:0px
}
.container div{
    
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
    
    
}
.conditionClass{
    display: block;
}
.inputsClass {
    display: flex;
    margin-left: 20px;
    width: 400px;
}
.textsClass {
    display: flex;
}
SELECT {
    width: 100px;
}
input{
    width:90%;
    margin-bottom: 5px;
}

#selectConditionType{
    width:45%;
    
    margin-right: 10px;

}
#conditionInput{
    width:40%;
}

.childInputClass{

    width: 100%;
}

.addChildButton {
    background-color: #0bdf00;
    border: 2px solid rgba(33, 68, 72, 0.59);
    height: 35px;
    width: 60px;
    font-size: 20px;
    margin-right: 10px;
    border:none;
    margin-right: 10px;
    color: white;
    text-align: center;
    font: bold;
    background: -webkit-linear-gradient(top, #0bdf00, #11610d);
    background: -moz-linear-gradient(top, #0bdf00, #11610d);
    background: -o-linear-gradient(top, #0bdf00, #11610d);
    background: -ms-linear-gradient(top, #0bdf00, #11610d);
    background: linear-gradient(top, #0bdf00, #11610d);
    border-radius: 26px;
    cursor:pointer
}
.addChildButton:hover{
    background: -webkit-linear-gradient(top, #0d9106, #11610d);
    background: -moz-linear-gradient(top, #0d9106, #11610d);
    background: -o-linear-gradient(top, #0d9106, #11610d);
    background: -ms-linear-gradient(top, #0d9106, #11610d);
    background: linear-gradient(top, #0d9106, #11610d);
}

.removeButton{
    background-color: #f9525a;
    height: 35px;
    width: 60px;
    font-size: 17px;
    border:none;
    margin-right: 10px;
    color: white;
    text-align: center;
    font: bold;
    background: -webkit-linear-gradient(top, #f9525a, #b62e37);
    background: -moz-linear-gradient(top, #f9525a, #b62e37);
    background: -o-linear-gradient(top, #f9525a, #b62e37);
    background: -ms-linear-gradient(top, #f9525a, #b62e37);
    background: linear-gradient(top, #f9525a, #b62e37);
    border-radius: 26px;
    cursor:pointer
}
.removeButton:hover{
    background: -webkit-linear-gradient(top, #d0343c, #b62e37);
    background: -moz-linear-gradient(top, #d0343c, #b62e37);
    background: -o-linear-gradient(top, #d0343c, #b62e37);
    background: -ms-linear-gradient(top, #d0343c, #b62e37);
    background: linear-gradient(top, #d0343c, #b62e37);
}
.buttonAdd {
    display:block;
    margin-left: 200px;
    height: 50px;
    width: 100px;
    background-color: rgb(102, 98, 214);
    border:none;
    color: white;
    outline:none;
    border-radius: 5px;
    overflow: hidden;
    font-family:'Quicksand', sans-serif;
    font-size:16px;
    font-weight: 500;
    cursor:pointer
    
}

.buttonAdd:hover{
    background-color: rgb(19, 48, 99);
}